[submodule "vendor/m2cl"]
	path = vendor/m2cl
	url = https://github.com/sshirokov/m2cl.git
[submodule "vendor/clsql"]
	path = vendor/clsql
	url = https://github.com/sshirokov/CLSQL.git
[submodule "vendor/cl-zmq"]
	path = vendor/cl-zmq
	url = https://github.com/sshirokov/cl-zmq.git
[submodule "vendor/libfixposix"]
	path = vendor/libfixposix
	url = git://gitorious.org/libfixposix/libfixposix.git
[submodule "vendor/iolib"]
	path = vendor/iolib
	url = git://gitorious.org/iolib/iolib.git
[submodule "vendor/cl-redis"]
	path = vendor/cl-redis
	url = https://github.com/sshirokov/cl-redis.git
